appdirs==1.4.3
appnope==0.1.0
arrow==0.13.1
asciimatics==1.10.0
asn1crypto==0.24.0
backcall==0.1.0
beautifulsoup4==4.7.1
binaryornot==0.4.4
bleach==3.1.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
configobj==5.0.6
configparser==3.7.4
contextlib2==0.5.5
cookiecutter==1.6.0
cryptography==2.6.1
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
distro==1.4.0
dvc==0.32.1
entrypoints==0.3
feather-format==0.4.0
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
grandalf==0.6
hide-code==0.5.2
idna==2.5
inflection==0.3.1
ipykernel==5.1.0
ipysheet==0.3.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
jinja2-time==0.2.0
jsonpath-rw==1.4.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.3.2
MarkupSafe==1.1.0
matplotlib==3.0.2
missingno==0.4.1
mistune==0.8.4
more-itertools==6.0.0
nanotime==0.5.2
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
newsapi-python==0.2.3
notebook==6.4.12
notedown==1.5.1
numpy==1.16.1
oauthlib==3.0.1
pandas==0.24.1
pandas-datareader==0.7.0
pandoc-attributes==0.1.7
pandocfilters==1.4.2
parso==0.3.4
pdfkit==0.6.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
plotly==3.6.1
ply==3.11
poyo==0.4.2
prometheus-client==0.5.0
prompt-toolkit==2.0.8
ptyprocess==0.6.0
pyarrow==0.12.1
pyasn1==0.4.5
pycparser==2.19
pyfiglet==0.8.post1
Pygments==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
python-dateutil==2.8.0
python-sql==1.0.0
python-twitter==3.5
pytz==2018.9
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.3
Quandl==3.4.6
requests==2.21.0
requests-oauthlib==1.2.0
retrying==1.3.3
schema==0.7.0
scikit-learn==0.20.2
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
smmap2==2.0.5
soupsieve==1.8
terminado==0.8.1
testpath==0.4.2
tia==0.3.0
tornado==5.1.1
traitlets==4.3.2
twitter==1.18.0
urllib3==1.21.1
wcwidth==0.1.7
webencodings==0.5.1
whichcraft==0.5.2
widgetsnbextension==3.4.2
wrapt==1.11.1
xlrd==1.2.0
zc.lockfile==1.4
